<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Storia</h2>
                    <h3 class="section-subheading text-muted">Scopri la nostra storia ed esperienza.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1992-1994</h4>
                                    <h4 class="subheading">I nostri inizi</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Amati Monica e Davide Gattei iniziarono l'attivita professionale ciascuno in via autonoma.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/hands.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1995</h4>
                                    <h4 class="subheading">Costituzione dello studio associato</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Monica Amati e Davide Gattei costituirono uno studio associato professionale apportandovi le proprie precedenti esperienze, contribuendo ad aumentare la portata dell'attivita dello studio, denominato Amati & Gattei dottori commercialisti.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/hands.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2006-2022</h4>
                                    <h4 class="subheading">Collaborazione con altri professionisti</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In questo periodo i titolari dello studio associato hanno svolto collaborazioni con altri professionisti dello stesso settore, presso l'ufficio sito in Via des Vergers, Rimini.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/office.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2022</h4>
                                    <h4 class="subheading">Trasferimento dello studio</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nell' Aprile 2022 lo studio si è trasferito in uffici più vicini al centro di Rimini, dotati di parcheggio antistante per consentire un accesso più facile ai clienti.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline">
                            <div class="timeline-image">
                                <h4>Diventa parte
                                    <br>del nostro
                                    <br>viaggio!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>