<section id="contact" style="visibility: hidden;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contatti</h2>
                    <div style="background-color: white; padding:5px; border-radius: 4px; width: 80%; margin-left:auto; margin-right:auto;">
                        <h3 class="text-muted">AG.CED SRL</h3>
                        <h3 class="text-muted">VIA ARIETE n. 18 RIMINI</h3>
                        <h3 class="text-muted"><a href="tel:+390541793072" style="color: inherit; text-decoration: none;">TEL: +39 0541 793072</a></h3>
                        <h3 class="text-muted"><a href="mailto:amatigattei@riminiservizi.com" style="color: inherit; text-decoration: none;">MAIL: amatigattei@riminiservizi.com</a></h3>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <input type="text" class="form-control" placeholder="Nome *" id="name" required data-validation-required-message="Inserisci il tuo nome.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="email" class="form-control" placeholder="Email *" id="email" required data-validation-required-message="Inserisci il tuo indirizzo e-mail.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="tel" class="form-control" placeholder="Telefono *" id="phone" required data-validation-required-message="Inserire il numero di telefono.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <textarea class="form-control" placeholder="Il vostro messaggio *" id="message" required data-validation-required-message="Inserire un messaggio."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Inviare il messaggio</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div> -->
        </div>
    </section>
